body {
  margin: 0;
  padding: 0;
}

address, article, aside, blockquote, details, dialog, dd, div, dl, dt, fieldset, figcaption,
figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, li, main, nav,
ol, p, pre, section, table, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, select, span, b, small {
  box-sizing: border-box;
  line-height: 1;
}

label {
  display: block;
}

h1 {
  @include typo(700, 800);
}

h2 {
  @include typo(600, 700);
}

h3 {
  @include typo(500, 600);
}

h4 {
  @include typo(400, 500);
}

h5 {
  @include typo(300, 400);
}

p {
  @include typo(200, 300);
}

small {
  @include typo(100, 200);
}

label {
  @include typo(100, 200);
}