:root {
  --rgb-white: #{hex2rgb(#FFFFFF)};
  --rgb-light: #{hex2rgb(#FEFEFE)};
  --rgb-grey100: #{hex2rgb(#F4F4F4)};
  --rgb-grey200: #{hex2rgb(#DCDCDC)};
  --rgb-grey300: #{hex2rgb(#BFBFBF)};
  --rgb-grey400: #{hex2rgb(#A5A5A5)};
  --rgb-grey500: #{hex2rgb(#878787)};
  --rgb-grey600: #{hex2rgb(#6C6C6C)};
  --rgb-grey700: #{hex2rgb(#515151)};
  --rgb-grey800: #{hex2rgb(#363636)};
  --rgb-grey900: #{hex2rgb(#1C1C1C)};

  --rgb-dark: #{hex2rgb(#151515)};
  --rgb-black: #{hex2rgb(#000000)};
  --rgb-brand: #{hex2rgb(#8347A8)};
  --rgb-blue: #{hex2rgb(#2E88F1)};
  --rgb-cold-dark: #{hex2rgb(#434F5F)};
  --rgb-green: #{hex2rgb(#6DBE2C)};
  --rgb-orange: #{hex2rgb(#FFA927)};
  --rgb-red: #{hex2rgb(#FF4B4B)};

  // Format palette colors: "--pal-{code}": #RGB
  --pal-brand: var(--rgb-brand);
  --pal-primary: var(--rgb-blue);
  --pal-secondary: var(--rgb-cold-dark);
  --pal-success: var(--rgb-green);
  --pal-warning: var(--rgb-orange);
  --pal-danger: var(--rgb-red);
  --pal-error: var(--rgb-red);

  --pal-acc-brand: var(--rgb-white);
  --pal-acc-primary: var(--rgb-white);
  --pal-acc-secondary: var(--rgb-white);
  --pal-acc-success: var(--rgb-white);
  --pal-acc-warning: var(--rgb-white);
  --pal-acc-danger: var(--rgb-white);
  --pal-acc-error: var(--rgb-white);

  --pal-text: var(--rgb-dark);
  --pal-text-dimm: var(--rgb-grey600);
  --pal-link: var(--rgb-blue);
  --pal-block: var(--rgb-grey100);
  --pal-block-border: var(--rgb-grey200);
  --pal-bg: var(--rgb-white);
  --pal-overlay: var(--rgb-dark);

  --pal-ui-disabled: var(--rgb-grey200);
  --pal-ui-disabled-border: var(--rgb-grey300);

  --ui-transition: all linear 120ms;

  --typo-font-heading: 'Segoe UI', San Francisco, Roboto, Lucida Sans;
  --typo-font-text: 'Segoe UI', San Francisco, Roboto, Lucida Sans;
  --typo-font-mono: monospace;

  // font-size
  // format font-size vars: "--lt-{code}": 14px;
  --typo-h100: 12px;
  --typo-h200: 14px;
  --typo-h300: 16px;
  --typo-h400: 18px;
  --typo-h500: 22px;
  --typo-h600: 26px;
  --typo-h700: 30px;
  --typo-h800: 36px;
  --typo-h900: 42px;

  // line-height vars (typo usually has the same number part)
  // format font-size vars: "--typo-{code}": 14px;
  --typo-lh100: 14px;
  --typo-lh200: 16px;
  --typo-lh300: 18px;
  --typo-lh400: 22px;
  --typo-lh500: 26px;
  --typo-lh600: 32px;
  --typo-lh700: 42px;
  --typo-lh800: 48px;
  --typo-lh900: 64px;

  // spacing vars
  --lt-sp100: 2px;
  --lt-sp200: 4px;
  --lt-sp300: 8px;
  --lt-sp400: 16px;
  --lt-sp500: 32px;
  --lt-sp600: 64px;
  --lt-sp700: 128px;
  --lt-sp800: 256px;
  --lt-sp900: 512px;

  --lt-border-radius: 8px;
  --lt-border-radius-inner: 4px;

  --ui-lt-h: 36px;
  --ui-lt-border-style: solid;
  --ui-lt-border-width: 1px;
  --ui-lt-border-radius: var(--lt-border-radius-inner);
  --ui-lt-disabled-border-style: dashed;

  --lt-z-1: 1;
  --lt-z-back: -1;
  --lt-z-nav: 500;
  --lt-z-modal-backdrop: 1000;
  --lt-z-modal: 1001;
}
