@import "colors";

@mixin pal_fu {
  // RAW RGB VALUES
  --rgb-back: #{hex2rgb(#FFFFFF)};

  --rgb-grey100: #{hex2rgb(#FAFAFA)};
  --rgb-grey200: #{hex2rgb(#DCDCDC)};
  --rgb-grey300: #{hex2rgb(#BFBFBF)};
  --rgb-grey400: #{hex2rgb(#A5A5A5)};
  --rgb-grey500: #{hex2rgb(#6C6C6C)};
  --rgb-grey600: #{hex2rgb(#515151)};
  --rgb-grey700: #{hex2rgb(#363636)};
  --rgb-grey800: #{hex2rgb(#1C1C1C)};
  --rgb-grey900: #{hex2rgb(#151515)};

  --rgb-front: #{hex2rgb(#000000)};

  --rgb-primary: #{hex2rgb(#0095ff)};
  --rgb-secondary: #{hex2rgb(#131315)};
  --rgb-positive: #{hex2rgb(#3e9400)};
  --rgb-warning: #{hex2rgb(#ff7300)};
  --rgb-negative: #{hex2rgb(#ff3535)};

  // Format palette colors: "--pal-{code}": #RGB

  --pal-front: rgb(var(--rgb-back));
  --pal-semi-front: rgb(var(--rgb-grey100));

  --pal-grey100: rgb(var(--rgb-grey100));
  --pal-grey200: rgb(var(--rgb-grey200));
  --pal-grey300: rgb(var(--rgb-grey300));
  --pal-grey400: rgb(var(--rgb-grey400));
  --pal-grey500: rgb(var(--rgb-grey500));
  --pal-grey600: rgb(var(--rgb-grey600));
  --pal-grey700: rgb(var(--rgb-grey700));
  --pal-grey800: rgb(var(--rgb-grey800));
  --pal-grey900: rgb(var(--rgb-grey900));

  --pal-semi-back: rgb(var(--rgb-grey900));
  --pal-back: rgb(var(--rgb-front));

  --pal-primary: rgb(var(--rgb-primary));
  --pal-secondary: rgb(var(--rgb-secondary));
  --pal-positive: rgb(var(--rgb-positive));
  --pal-warning: rgb(var(--rgb-warning));
  --pal-negative: rgb(var(--rgb-negative));

  --pal-acc-primary: rgb(var(--rgb-back));
  --pal-acc-secondary: rgb(var(--rgb-back));
  --pal-acc-positive: rgb(var(--rgb-back));
  --pal-acc-warning: rgb(var(--rgb-back));
  --pal-acc-negative: rgb(var(--rgb-back));

  --pal-text: rgb(var(--rgb-grey700));
  --pal-text-dimm: rgb(var(--rgb-grey600));
  --pal-block: rgb(var(--rgb-grey100));
  --pal-block-border: rgb(var(--rgb-grey200));
  --pal-bg: rgb(var(--rgb-back));
  --pal-overlay: rgba(var(--rgb-grey500), 0.2);
  --pal-link: rgb(var(--rgb-primary));
  --pal-link-active: rgb(var(--rgb-primary));

  --ui-rgb: var(--rgb-primary);
  --ui-pal: var(--pal-primary);
  --ui-pal-bg: var(--pal-bg);
  --ui-pal-acc: var(--pal-acc-primary);
  --ui-pal-lateral: rgb(var(--rgb-grey200));
  --ui-pal-text: rgb(var(--rgb-front));
  --ui-pal-text-select: rgb(var(--rgb-back));
  --ui-pal-placeholder: rgb(var(--rgb-grey300));
  --ui-pal-disabled: rgb(var(--rgb-grey100));
  --ui-pal-disabled-border: rgb(var(--rgb-grey300));

}
