@mixin typo($h, $l:null) {
  font-size: var(--typo-h#{$h});

  @if ($l) {
    line-height: var(--typo-lh#{$l});
  }
}

@function spacing($spacing-code: null) {
  @if (
      $spacing-code == 0 or
      $spacing-code == auto or
      $spacing-code == unset or
      $spacing-code == null
  ) {
    @return $spacing-code;
  }

  @return var(--lt-sp#{$spacing-code});
}

@mixin spacing-prop($prop, $t, $r: null, $b: null, $l: null) {
  #{$prop}: spacing($t) spacing($r) spacing($b) spacing($l);
}

@mixin spacing-margin($t, $r: null, $b: null, $l: null) {
  @include spacing-prop('margin', $t, $r, $b, $l);
}

@mixin spacing-padding($t, $r: null, $b: null, $l: null) {
  @include spacing-prop('padding', $t, $r, $b, $l);
}

@mixin ellipsis($display: block) {
  display: $display;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}