@mixin scrollbar-awesome($hide: false) {
  &::-webkit-scrollbar-track {
    background-color: var(--ui-scroll-bg, inherit);
  }

  &::-webkit-scrollbar {
    width: var(--ui-scroll-width);
    height: var(--ui-scroll-width);
    border-radius: var(--ui-scroll-width);
    background-color: var(--ui-scroll-bg, inherit);
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--ui-scroll-bg, inherit);
    border-radius: var(--ui-scroll-width);
    @if ($hide) {
      background-color: inherit;
    } @else {
      background-color: var(--ui-pal);
    }
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
  }
  @if ($hide) {
    &:focus::-webkit-scrollbar-thumb,
    &:hover::-webkit-scrollbar-thumb, {
      background-color: var(--ui-pal);
    }
  }
}

@mixin scrollbar-invisible() {
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
