html {
  @include typo_default();

  --lt-header-height: 92px;
  --lt-footer-height: 64px;
  --lt-horizontal-padding: 32px;
}

[data-theme="light"] {
  @include pal_light();
}

[data-theme="dark"] {
  @include pal_dark();
}

[data-theme="fu"] {
  @include pal_fu();
}

body {
  font-family: var(--typo-font-text);
  color: var(--pal-text);
  background: var(--pal-bg);
}

#app {
  @include scrollbar-awesome();
}

.primary {
  --ui-rgb: var(--rgb-primary);
  --ui-pal: var(--pal-primary);
  --ui-pal-acc: var(--pal-acc-primary);
}

.secondary {
  --ui-rgb: var(--rgb-secondary);
  --ui-pal: var(--pal-secondary);
  --ui-pal-acc: var(--pal-acc-secondary);
}

.positive {
  --ui-rgb: var(--rgb-positive);
  --ui-pal: var(--pal-positive);
  --ui-pal-acc: var(--pal-acc-positive);
}

.warning {
  --ui-rgb: var(--rgb-warning);
  --ui-pal: var(--pal-warning);
  --ui-pal-acc: var(--pal-acc-warning);
}

.negative {
  --ui-rgb: var(--rgb-negative);
  --ui-pal: var(--pal-negative);
  --ui-pal-acc: var(--pal-acc-negative);
}