html {
  @include typo_default();

  --lt-header-height: 92px;
  --lt-footer-height: 64px;
  --lt-horizontal-padding: 32px;
}

[data-theme="light"] {
  @include pal_light();
}

[data-theme="dark"] {
  @include pal_dark();
}

[data-theme="fu"] {
  @include pal_fu();
}

body {
  font-family: var(--typo-font-text);
  color: var(--pal-text);
  background: var(--pal-bg);
}

#app {
  @include scrollbar-awesome();
}

.primary {
  @include compose_ui_theme(primary);
}

.secondary {
  @include compose_ui_theme(secondary);
}

.positive {
  @include compose_ui_theme(positive);
}

.warning {
  @include compose_ui_theme(warning);

  --ui-pal-lateral: var(--pal-warning)
}

.negative {
  @include compose_ui_theme(negative);

  --ui-pal-lateral: var(--pal-negative)
}
