//
// Each var in this file will be parsed by `scripts/generate-root`
//
:root {
  /*

   BASE COLORS

   Format color vars: "--color-{code}: R,G,B"
   Avoid usage it in the components.
  */

  --color-sea-blue: #{color-channels(#7F9CBB)};
  --color-white: #{color-channels(#FEFEFE)};
  --color-dark: #{color-channels(#151515)};
  --color-dark-brown: #{color-channels(#403B3B)};
  --color-light-brown: #{color-channels(#aca1a1)};
  --color-dark-grey: #{color-channels(#5c5c5a)};
  --color-light-grey: #{color-channels(#DBD9D2)};
  --color-red: #{color-channels(#F31401)};
  --color-orange: #{color-channels(#FD9801)};
  --color-cyan: #{color-channels(#04BFBD)};
  --color-green: #{color-channels(#16B258)};
  --color-coral-light: #{color-channels(#BF9CA0)};
  --color-coral: #{color-channels(#A96375)};

  /*

  THEME COLORS (can be replaced to make a `dark mode`)
  Format palette colors: "--pal-{code}": #RGB

  */
  --pal-ui: var(--color-sea-blue);
  --pal-prime: var(--color-dark);
  --pal-text: var(--color-dark-brown);
  --pal-text-dimmed: var(--color-dark-grey);
  --pal-block: var(--color-light-grey);
  --pal-bg: var(--color-white);

  --pal-err: var(--color-red);
  --pal-warn: var(--color-orange);
  --pal-info: var(--color-cyan);
  --pal-success: var(--color-green);
  --pal-extra-a: var(--color-coral-light);
  --pal-extra-b: var(--color-coral);

  /*

  TYPO & LAYOUT PREFERENCES
  format font-size vars: "--typo-{code}": 14px;
  format font-size vars: "--lt-{code}": 14px;

  */

  --typo-font-heading: Avenir, Helvetica, Arial, sans-serif;
  --typo-font-mono: monospace;
  --typo-font-text: Avenir, Helvetica, Arial, sans-serif;

  // font-size
  --typo-h100: 14px;
  --typo-h200: 16px;
  --typo-h300: 18px;
  --typo-h400: 24px;
  --typo-h500: 36px;
  --typo-h600: 48px;
  --typo-h700: 64px;

  // line-height vars (typo usually has the same number part)
  --typo-lh100: 18px;
  --typo-lh200: 21px;
  --typo-lh300: 26px;
  --typo-lh400: 28px;
  --typo-lh500: 38px;
  --typo-lh600: 54px;
  --typo-lh700: 72px;

  // spacing vars
  --lt-sp100: 2px;
  --lt-sp200: 4px;
  --lt-sp300: 8px;
  --lt-sp400: 16px;
  --lt-sp500: 24px;
  --lt-sp600: 32px;
  --lt-sp700: 48px;
  --lt-sp800: 64px;

  --lt-border-radius: 8px;
  --lt-border-radius-inner: 4px;

  --lt-z-1: 1;
  --lt-z-back: -1;
  --lt-z-nav: 500;
  --lt-z-modal: 1000;
  --lt-z-overlay: 2000;

  --lt-header-height: 64px;

  --ui-height: 32px;
  --ui-border-w: 1px;
  --ui-border-radius: var(--lt-border-radius);
}
