:root {
  --lt-header-height: 92px;
  --lt-footer-height: 64px;
  --lt-horizontal-padding: 32px;
}

body {
  font-family: var(--typo-font-text);
  color: var(--pal-text);
  background: var(--pal-bg);
}

#app {
  @include scrollbar-awesome();
}