//
// TYPOGRAPHY
//

@mixin typo($h, $weight:null) {
  font-size: var(--typo-#{$h});
  line-height: var(--typo-l#{$h});
  @if ($weight) {
    font-weight: $weight;
  }
}

//
// LAYOUT SPACING
//

@function spacing($spacing-code: null) {
  @if (
      $spacing-code == 0 or
      $spacing-code == 0px or // redundant
      $spacing-code == auto or
      $spacing-code == unset or
      $spacing-code == null
  ) {
    @return $spacing-code;
  }

  @return var(--lt-#{$spacing-code});
}

@mixin spacing-prop($prop, $t, $r: null, $b: null, $l: null) {
  #{$prop}: spacing($t) spacing($r) spacing($b) spacing($l);
}

@mixin spacing-margin($t, $r: null, $b: null, $l: null) {
  @include spacing-prop('margin', $t, $r, $b, $l);
}

@mixin spacing-padding($t, $r: null, $b: null, $l: null) {
  @include spacing-prop('padding', $t, $r, $b, $l);
}
