@mixin scrollbar-awesome($transparent: false) {
  &::-webkit-scrollbar-track {
    background-color: var(--ui-pal-bg);
  }

  &::-webkit-scrollbar {
    width: var(--ui-lt-scroll-width);
    height: var(--ui-lt-scroll-width);
    border-radius: var(--ui-lt-scroll-width);
    background-color: var(--ui-pal-bg);
  }

  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--ui-pal-bg);
    border-radius: var(--ui-lt-scroll-width);
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent !important;
    border: 0 none !important;
    box-shadow: none !important;
  }

  &:focus::-webkit-scrollbar-thumb,
  &:hover::-webkit-scrollbar-thumb, {
    background-color: var(--ui-pal);
  }
}

@mixin scrollbar-invisible() {
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}


