@mixin scrollbar-awesome($transparent: false) {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    @if ($transparent) {
      background-color: transparent;
    }

    background-color: pal(block);
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: pal(prime);
  }
}

@mixin scrollbar-awesome-bold() {
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: pal(prime);
    border: 1px solid transparent;
    border-radius: 0.25em;
  }

  &:hover::-webkit-scrollbar {
    background-color: pal(block);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: pal(prime);
  }
}

@mixin scrollbar-invisible() {
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
